@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Staatliches&display=swap');

body {
    background-color: aliceblue;
    max-width: 1600px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: black;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #78c5d7;
}
header {
    background-color: #134266 ;
}
nav a:hover {
    background-color: black;
    color: #78c5d7;
}
.book , .join {
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Staatliches', Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #78c5d7;
    color: black;
}
.msg {
    background-color: #134266;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #134266;
    color: #78c5d7;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a:hover {
    color: #78c5d7;
}
footer .social img {
    padding-top: 15px;
}
.home-title {
    color: black;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: white;
}
h2 {
    margin: 0;
}
.msg h2 {
    color: white;
}
.msg p {
    color: white;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #78c5d7;
}