@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Staatliches&display=swap');

body {
    background-color: aliceblue;
    
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white ;
}
#hero-msg h4 {
    color: white;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #78c5d7;
    grid-column: 1/span 10;
    grid-row: 4/span 5;
}
header {
    background-color: #134266 ;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: black;
    color: #78c5d7;
}
.book , .join {
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Staatliches', Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #78c5d7;
    color: black;
}
.msg {
    background-color: #134266;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/span 4;
    grid-row: 6/span 1;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: #134266;
    color: #78c5d7;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a:hover {
    color: #78c5d7;
}
footer .social img {
    padding-top: 15px;
}
.home-title {
    color: black;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
h4 {
    color: white;
}
h2 {
    margin: 0;
}
.msg h2 {
    color: white;
}
.msg p {
    color: white;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/span 2;
    grid-row: 2/span 1;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/span 2;
    grid-row: 2/span 1;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/span 2;
    grid-row: 2/span 1;
}
.card-img {
    border: 10px solid #78c5d7;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    width: 100%;
    grid-column: 2/span 5;
    grid-row: 5/span 3;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/* CSS for the blog page */


body {
    background-color: aliceblue;
    
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#hero-msg1 {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    color: white;
    text-align: left;
    
}
.home-title {
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}
.box {
    background-color: #134266;
    line-height: 1.5em;
    padding: 35px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    color: black;
}

.text {
    flex: 1;
    margin-left: 20px;
    float: right;
    margin: 20px;
    padding-top: 40px;
  }